<footer>

  <!-- /.footer-top -->

  <!-- /.footer-middle -->

  <div class="prestamos">
    <div class="img1">
      <img width="100%" src="../../assets/img/MEDIOS-DE-PAGO2-1024x309.png" alt="medios de pago">
    </div>
    <div class="img2">
      <img src="../../assets/img/CIFRADO-LOGO-GRIS-300x100.png" alt="logo gris de cifrado">
      <div class="contact">
        <ul>
          <li>CONTACTOS</li>
          <li><a class="icon-phone" href="">304 489 8454</a></li>
          <li><a class="icon-email" href="">contacto@cifradosas.com</a></li>
          <li><a class="icon-location" href="">CL 23 S #27B-64 Envigado, Col.</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
        <p>Copyright © CIFRADO SAS <span>2021</span> | All Rights Reserved.</p>
    </div>
  </div>

</footer>

