
<div class="conten-cards">

  <div class="cards">
    <div class="head-card">
      <img src="../../assets/img/bg/03.jpeg" alt="SISTEMAS DE SEGURIDAD">
    </div>
    <div class="body-card">
      <h3>SISTEMAS DE SEGURIDAD</h3>
      <p>Soluciones a su medida para proteger lo realmente importante, a través de sistemas de Cámaras de Seguridad, Alarmas, Sensores de Movimiento y más.</p>
    </div>
  </div>

  <div class="cards">
    <div class="head-card">
      <img src="../../assets/img/bg/01.jpeg" alt="SISTEMAS DE SEGURIDAD">
    </div>
    <div class="body-card">
      <h3>CABLEADO ESTRUCTURADO</h3>
      <p>Soluciones en cableado estructurado en cobre, fibra óptica y WiFi para su empresa.</p>
    </div>
  </div>

  <div class="cards">
    <div class="head-card">
      <img src="../../assets/img/bg/03.jpeg" alt="SISTEMAS DE SEGURIDAD">
    </div>
    <div class="body-card">
      <h3>SOPORTE, MANTENIMIENTO Y RENOVACIÓN TECNOLÓGICA</h3>
      <p>Proporcionamos asistencia con hardware y software, cualquier tipo de daños o simplemente servicios como diagnósticos o mantenimientos preventivos.</p>
    </div>
  </div>
  <div class="cards">
    <div class="head-card">
      <img src="../../assets/img/bg/02.jpeg" alt="SISTEMAS DE SEGURIDAD">
    </div>
    <div class="body-card">
      <h3>REDES Y ENLACES INALÁMBRICOS</h3>
      <p>Dentro de nuestros servicios WI-FI, ofrecemos la instalación de Routers, Access Points y enlaces inalámbricos punto a punto PTP y punto multipunto PMTP en su residencia o empresa.</p>
    </div>
  </div>

</div>

