
<div class="cont-nos">
  <div class="somos-sec-1">
    <div class="bla">
      <h2>¿Quiénes somos?</h2>
      <p><strong>CIFRADO</strong> es una empresa especializada en el diseño, instalación, mantenimiento y renovación de cableado estructurado, redes y enlaces inalámbricos, y sistemas de seguridad como cámaras, sensores, alarmas y la integración de todas ellas.
        Cubrimos el área metropolitana del Valle de Aburrá, el Oriente Antioqueño y la Zona De Urabá.</p>
    </div>
    <div class="img-nos">
      <img src="../../assets/img/quienes-somos.jpg" alt="img somos tec">
    </div>
  </div>
  <div class="somos-sec-2">
    <h2>¿Por qué elegirnos?</h2>
      <ul>
        <li><i class="ico" style="content: url(../../favicon.ico);"></i> Proporcionamos asesoría y soluciones con equipos de última tecnología.</li>
        <li><i class="ico" style="content: url(../../favicon.ico);"></i> Nuestro personal está altamente calificado para ofrecerle las mejores alternativas.</li>
        <li><i class="ico" style="content: url(../../favicon.ico);"></i> Trabajamos con equipos con altos estándares de calidad para asegurar el perfecto funcionamiento y confiabilidad que necesita.</li>
        <li><i class="ico" style="content: url(../../favicon.ico);"></i> Garantía y soporte técnico inmediato.</li>

      </ul>

  </div>
  <div class="somos-sec-3">
    <div class="bloq-3">
      <h2>Misión</h2>
      <p>Ofrecer soluciones integrales de tecnología, en los ámbitos de sistemas, electricidad, seguridad y telecomunicaciones para satisfacer las necesidades empresariales y particulares de nuestros clientes; con servicios innovadores, eficientes, efectivos y de alta calidad, garantizando la satisfacción total en cada proyecto realizado.</p>
    </div>
    <div class="bloq-3">
      <h2>Visión</h2>
      <p>CIFRADO se consolidara como una de las empresas de servicios Tecnológicos más importantes del Territorio Nacional cumpliendo con los estándares de Calidad, seguridad y cumplimiento; reconocida como modelo estructural y empresarial a seguir, con un equipo de trabajo sólido y comprometido.</p>
    </div>
    <div class="bloq-3">
      <h2>Valores</h2>
      <p>Espíritu de servicio, excelencia, honestidad, responsabilidad, integridad, trabajo en equipo.</p>
    </div>
  </div>
</div>
