
  <!-- Preloader -->
  <div class="preloader"></div>

  <!-- ============ -->
  <!-- header start -->
  <header class="main-header">
    <div class="logo">
      <img src="../../assets/img/logo.png" alt="logo">
    </div>

    <div id="header">
			<ul class="nav">
				<li><a href="">Inicio</a></li>
				<li><a href="">Quienes somos</a></li>
				<li><a href="">Servicios</a>
					<ul>
						<li><a href="">Circuito Cerrado de Televisión y Alarmas</a></li>
						<li><a href="">Soporte, Mantenimiento y Renovación Tecnológica</a></li>
						<li><a href="">Cableado Estructurado</a></li>
						<li><a href="">Redes Inalámbricas y Enlaces Inalámbricos</a></li>
						<li><a href="">its CCTV, Alarmas, Control Biometrico, Video Portero y Access Point</a></li>
					</ul>
				</li>
				<li><a href="">Contáctenos</a></li>
			</ul>
		</div>


    <div class="btn">
      <a href="">
        <i class="icon-phone"></i>
        <span>314 445 0988</span>
      </a>
    </div>

  </header>


