



@font-face {
  font-family: MontserratExL;
  src: url('./assets/fonts/Montserrat-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: MontserratL;
  src: url('./assets/fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: Montserrat;
  src: url('./assets/fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
  font-family: MontserratB;
  src: url('./assets/fonts/Montserrat-Black.ttf') format('truetype');
}
@font-face {
  font-family: MontserratBold;
  src: url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: MontserratExBold;
  src: url('./assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: Montserrat,'Roboto', sans-serif;
  font-weight: bold;
  background: rgba(255, 255, 255, .8);
  overflow-x: hidden;
}
.mt4{
  margin-top: 4rem;
}

