<main>
  <div class="content">

    <div class="secc1">
      <div class="im">
        <img src="../../favicon.ico" alt="logotipo cifrado sas">
      </div>
      <div class="body">
        <div class="cont">
          <h2>SEGURIDAD - REDES - SISTEMAS</h2>
          <h1><strong>CIFRADO</strong> una empresa que ofrece a nuestros clientes las mejores soluciones para el manejo de datos a través de la implementación de infraestructura de redes, sistemas de seguridad y soporte en sitio de la mejor calidad.</h1>
        </div>
      </div>

    </div>

    <hr>

      <app-cards></app-cards>
  </div>
</main>
